/* Custom Navbar/Header CSS */
.raina-logo {
    max-height: 80px;
    height: 100%;
}

.raina-name {
    text-decoration: none;
}
/* End of Custom Navbar/Header CSS */

/* Custom Body CSS */
.raina-headshot {
    width: 100%
}

.bio-container {
    margin-top: 20px;
}
/* End of Custom Body CSS */